<button (click)=goBack()><<</button>
<section class="head" *ngIf="user">
    
  <img src={{user.photo}} alt="User photo">
  <h2>@{{user.userName | uppercase}} Details </h2>
</section>
 
<section class="wrapper" *ngIf="user">
  <!-- General user information -->
  <aside class="user-card-wrapper">

    <div class="card">

      <h3>General User Information</h3>

      <ul>
        <li><span>ID</span>{{user.id}}</li>
        <li><span>Phone</span>{{user.phone}}</li>
        <li><span>User Name</span>{{user.userName}}</li>
        <li><span>First Name</span>{{user.firstName}}</li>
        <li><span>Last Name</span>{{user.lastName}}</li>
        <li><span>Bithday</span>{{user.dateOfBirth}}</li>
        <li><span>Photo URL</span>{{user.photo}}</li>
        <li><span>Name Prefix</span>{{user.namePrefix}}</li>
        <li><span>Email</span>{{user.email}}</li>
      </ul>
    </div>
  </aside>

  <aside class="aside-cards-wrapper">
    <!-- Job information -->
    <div class="card">

      <h3>Job</h3>

      <ul>
        <li><span>Area</span>{{user.job.jobArea}}</li>
        <li><span>Title</span>{{user.job.jobTitle}}</li>
        <li><span>Type</span>{{user.job.jobType}}</li>
      </ul>
    </div>
    <!-- Address information -->
    <div class="card">

      <h3>Address</h3>

      <ul>
        <li><span>City</span>{{user.address.city}}</li>
        <li><span>State</span>{{user.address.state}}</li>
        <li><span>Street Address</span>{{user.address.streetAddress}}</li>
        <li><span>Country</span>{{user.address.country}}</li>
        <li><span>Zip Code</span>{{user.address.zipCode}}</li>
      </ul>
    </div>
  </aside>
</section>